**/.Rproj.user/
*.Rproj
.Rhistory
.RData
.Ruserdata
geoprocessamento_areaverde_bh/MG_Malha_Preliminar_2022/MG_Malha_Preliminar_2022.shp
geoprocessamento_areaverde_bh/MG_Malha_Preliminar_2022/MG_Malha_Preliminar_2022.shp
